{% extends "layout.html" %}

{% block title %}
    Password Change
{% endblock %}

{% block main %}
<div class="container">
    <form action="/change_password" class="form" method="post">
    <h3>Password Change</h3>
        <input autocomplete ="off" type="text" id= "username" name="username" class="pass-box" placeholder="Existing username">
        <input type="password" name="old_password" id="old_password" class="pass-box" placeholder = "Old password" type="password">
        <input type="password" name="new_password" id="new_password" class="pass-box" placeholder = "New password" type="password">
        <input type="password" name="confirmation" id="confirmation" class="pass-box" placeholder = "New password (again)" type="password">
        <input type="submit" value="Change Password" id="submit-pass">

    </form>

    <div class="side">
        <img src="/static/Original.png" alt="">
    </div>


</div>

{% endblock %}
